* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg--logo-first-half: rgb(116, 0, 0);
    --bg--logo-second-half: rgb(30, 30, 30);
    --bg-color: rgb(20, 20, 20);
    --text-color: rgb(238, 238, 238);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#app {
    width: 100dvw;
    height: 100dvh;
    position: relative;
}

.loader {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    animation: 2s hide-loader;
    animation-fill-mode: forwards;
}

.loader .dot {
    opacity: 0;
    animation: 2s load infinite forwards;
}

.loader .dot:nth-child(2) {
    opacity: 0;
    animation-delay: 250ms;
}

.loader .dot:nth-child(3) {
    opacity: 0;
    animation-delay: 500ms;
}

.banner {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 1s show-content linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.banner .title {
    font-size: clamp(1.5rem, 15dvw, 10rem);
    border-radius: 6px;
    font-family: "Bruno Ace SC", sans-serif;
}

.banner .message {
    font-size: clamp(1rem, 5dvw, 3rem);
    font-family: "Bruno Ace SC", sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.flex-align-items-center {
    align-items: center;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-direction-column {
    flex-direction: column;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
}

.griditem {
    display: flex;
    padding: 1rem;
}

.offer-games {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(0.8rem, 3dvw, 1.5rem);
    font-family: "Bruno Ace SC", sans-serif;
}

.game-card {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 3px;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.game-card .img {
    width: 100%;
    border-radius: 6px;
    aspect-ratio: 16/9;
    filter: brightness(70%) grayscale(100%);
    color: darkorange;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.game-card .img:hover {
    filter: grayscale(0%);
}

.game-card .game-title {
    font-size: clamp(0.8rem, 3dvw, 1.5rem);
}

.game-card .game-subtitle {
    font-size: clamp(0.2rem, 2.5dvw, 1rem);
}

.site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
}


.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
}

.btn-fancy {
    position: relative;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn-fancy:hover {
    border: 2px solid #fff
}

.btn-fancy::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.btn-fancy::after {
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.btn-fancy.btn1:hover::before {
    inset: 16px 8px;
}

.btn-fancy.btn1:hover::after {
    inset: 8px 16px 8px;
}

.btn-fancy.btn2:hover::before {
    inset: 0px 8px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.btn-fancy.btn2:hover::after {
    inset: 8px 0px;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.btn-fancy.btn3:hover::before {
    inset: 0px -12px;
    transform: skewY(15deg);
    -webkit-transform: skewY(15deg);
    -moz-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    -o-transform: skewY(15deg);
}

.btn-fancy.btn3:hover::after {
    inset: -12px 0px;
    transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    -moz-transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -o-transform: skewX(15deg);
}

.btn-fancy.btn4:hover,
.btn-fancy.btn5:hover,
.btn-fancy.btn6:hover {
    border-color: transparent;
}

.btn-fancy.btn4:hover::before {
    inset: 0px 30px;
    transform: skew(25deg);
    -webkit-transform: skew(25deg);
    -moz-transform: skew(25deg);
    -ms-transform: skew(25deg);
    -o-transform: skew(25deg);
}

.btn4:hover::after {
    inset: 10px 0px;
    transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    -o-transform: skew(-25deg);
}

.btn-fancy.btn5:hover::before,
.btn-fancy.btn5:hover::after {
    inset: 0px;
}

.btn-fancy.btn6:hover::before {
    inset: 0 0;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

.btn-fancy.btn6:hover::after {
    inset: 0 -4px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.letters {
    position: relative;
    display: flex;
    align-items: baseline;
}

.letters.same-size {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.letters .letter {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    text-align: center;
}

.letters .letter.space {
    display: block;
}

.letters .letter.space::after {
    content: "\00a0";
    display: block;
}

.letters.letter-spacing-0>.letter {
    padding: 0;
}

.letters.letter-spacing-1>.letter {
    padding: 0 0.25rem;
}

.letters.letter-spacing-2>.letter {
    padding: 0 0.5rem;
}

.letters.letter-spacing-3>.letter {
    padding: 0 0.75rem;
}

.letters.letter-spacing-4>.letter {
    padding: 0 1rem;
}

.letters.letter-spacing-5>.letter {
    padding: 0 1.25rem;
}

.letters.letter-spacing-6>.letter {
    padding: 0 1.5rem;
}

/* ANIMATIONS START */

.letter-grow {
    animation: grow 1s;
    animation-delay: 2s;
}

@keyframes grow {
    from {
        font-size: 50%;
    }

    to {
        font-size: 100%;
    }
}

@keyframes load {
    50% {
        opacity: 1;
    }
}

@keyframes hide-loader {
    100% {
        opacity: 0;
    }
}

@keyframes show-content {
    100% {
        opacity: 1;
    }
}

/* ANIMATION END */
